<%= render('partial/navbar', navbar: {active: "производство"}) %>
<div class="container-fluid">
  <div class="row">
    <%= render('partial/sidebar/production', menu: {active: "технологичка"}) %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="well well-lg">В системе нет данных о тех.картах!
      </div>
    </div>
  </div>
</div>