<div class="col-sm-3 col-md-2 sidebar">

  <ul class="nav nav-sidebar">
    <li><p>Статистика и отчеты</p></li>
    <hr/>
    <li><a href="#">Статистика по продажам</a></li>
    <li><a href="#">Ежемесечный отчет</a></li>
    <li><a href="#">Средний чек</a></li>
    <li><a href="#">ТОП продукции</a></li>
  </ul>
</div>