<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <!-- <li><p>Склад и производство</p></li>
     <hr/> -->
    <li
    <% if menu[:active] == "технологичка" %> class="active"
    <% end %> ><a href="#">Технологичка</a></li>
    <li><a href="#">Производство</a></li>
  </ul>
</div>